.card {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 210/291;
  transform: scale(0.6);
  overflow: hidden;
  border-radius: 2px;
  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    background-color: rgba($color-white, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
  }
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  &-content {
    position: relative;
    width: calc(90% - 10px);
    height: calc(91.5%);
    border-width: 5px;
    border-style: solid;
    border-image: $color-gold 1;
    margin: 5%;
    color: $color-primary;
    &__header {
      padding-top: 15%;
      position: relative;
      .rebeca {
        transition: color 0.2s ease-in-out 0.2s;
      }
      .nuno {
        transition: color 0.2s ease-in-out 0.5s;
      }
      &:hover {
        .nuno,
        .rebeca {
          color: $color-white;
        }
        .bg-polygon-1 {
          transform: translate(-10%, -50%);
        }
        .bg-polygon-2 {
          transform: translate(15%, -50%) rotateY(180deg);
        }
      }
    }
    &__invite {
      width: calc(100% - 10%);
      padding: 5% 5% 0;
    }
    &__body {
      padding-top: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 5%;
      font-family: $font-secondary;
      &-side {
        flex: 2;
        position: relative;
        display: flex;
        &::before {
          content: "";
          position: absolute;
          top: -10%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $color-primary;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $color-primary;
        }
      }
      &-center {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: anim-bigger 4s ease-in-out infinite;
      }
    }
    &__bottom {
      padding-top: 18%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-address {
        width: 60%;
        cursor: pointer;
        svg div {
          line-height: 1.2;
          transform: scale(1);
          transition: all 0.5s ease-in-out;
          &:hover {
            transform: scale(1.5);
            &.click::after {
              content: "Clique para copiar!";
            }
            &.clicked::after {
              content: "Copiado!";
            }
            &::after {
              position: absolute;
              top: -16%;
              left: 50%;
              width: fit-content;
              font-size: 8px;
              color: $color-white;
              transform: translate(-50%, -50%);
              background-color: $color-primary;
              padding: 1% 2% 0.5%;
              border-radius: 2px;
              opacity: 0.6;
            }
          }
        }
      }
      &-presence {
        padding-top: 8%;
        width: 85%;
      }
      &-contacts {
        padding-top: 6%;
        display: flex;
      }
      &-contact {
        flex: 1;
      }
    }
  }
  &-image {
    position: absolute;
    width: 60% !important;
    top: 0;
    left: 0;
    z-index: 1;
    &-1 {
      transform: rotateZ(135deg) translate(-30%, 70%);
    }
    &-2 {
      transform: rotateZ(-40deg) rotateX(180deg) translate(-20%, 60%);
    }
    &-3 {
      width: 40% !important;
      transform: rotateZ(-45deg) translate(-82%, 242%);
    }
    &-4 {
      width: 50% !important;
      transform: rotateZ(105deg) rotateX(180deg) translate(130%, 160%);
    }
  }
}
