.envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(100%, calc((90vh * 210 / 291)));
  margin: auto;
  height: 100vh;
  perspective: 750px;
  animation: envelope-entering 1s ease-in-out forwards;
  transform-origin: left top;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrapper {
    -webkit-transform: translate3d(0px, 0px, 0px);
    z-index: 7;
    &--back {
      z-index: 4;
    }
  }
  @keyframes envelope-entering {
    from {
      display: flex;
      height: 100vh;
      transform: scale(0) rotateY(180deg) translate(-50%, -50%);
    }
    to {
      display: flex;
      transform: scale(1) rotateY(180deg) translate(-50%, -50%);
    }
  }
  &:not(.reverse) {
    animation: envelope-rotate 1.2s ease-in-out forwards;
    @keyframes envelope-rotate {
      from {
        transform: scale(1) rotateY(180deg) translate(-50%, -50%);
      }
      to {
        transform: scale(1) rotateY(0deg) translate(-50%, -50%);
      }
    }
  }
  & > div,
  &-top {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.card-container {
      transform: scale(0.6);
    }
    img {
      width: 70%;
    }
  }
  &-top {
    transform-origin: 0 3.3%;
    transform-box: fill-box;
    transform-style: flat;
    transition: all 1.2s ease-in-out, opacity 0s;
    z-index: 7;
  }
  &-seal {
    transition: all 1.6s ease-in-out 0.4s, opacity 1.2s ease-in-out 0.8s;
    z-index: 8;
  }
  &-body {
    z-index: 6;
  }
  &-back {
    z-index: 4;
  }
  &.opened {
    .envelope {
      &-top {
        animation: openTop 1.3s ease-in-out 1.2s forwards;
        -webkit-transform: translate(-50%, -50%) rotateX(0deg);
        transform: translate(-50%, -50%) rotateX(0deg);
        @keyframes openTop {
          0% {
            -webkit-transform: translate(-50%, -50%) rotateX(0deg);
            transform: translate(-50%, -50%) rotateX(0deg);
          }
          100% {
            -webkit-transform: translate(-50%, -50%) rotateX(160deg);
            transform: translate(-50%, -50%) rotateX(160deg);
          }
        }
        &--back {
          z-index: 3;
        }
      }
      &-seal {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
        transition: all 1.6s ease-in-out, opacity 1.2s ease-in-out 0.4s;
      }
    }
  }
}
.backface {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(100%, calc((90vh * 210 / 291)));
  margin: auto;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    position: relative;
    z-index: 1;
    animation: backface-entering 1s ease-in-out forwards;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    backface-visibility: hidden;
    width: 70%;
    height: 70%;
    perspective: 750px;
    @keyframes backface-entering {
      from {
        opacity: 0;
        transform: scale(0) rotateY(0deg);
      }
      to {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
      }
    }
  }
  &:not(.reverse) svg {
    animation: backface-rotating 1.2s ease-in-out forwards;
    backface-visibility: hidden;
    @keyframes backface-rotating {
      from {
        transform: scale(1) rotateY(0deg);
      }
      to {
        transform: scale(1) rotateY(-180deg);
      }
    }
  }
  #versiculo {
    font-style: italic;
  }
}

.click-info {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  z-index: -1;
  animation: info-entering 1s ease-in-out forwards;
  @keyframes info-entering {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  &--hidden {
    transition: all 1s ease-in-out !important;
    opacity: 0 !important;
  }
  div {
    text-align: center;
    font-size: 12px;
    color: $color-white;
    background-color: rgba($color-primary, 0.75);
    white-space: nowrap;
    letter-spacing: 1px;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 300;
    animation: info-anim 4s ease-in-out infinite;
    @keyframes info-anim {
      0% {
        opacity: 0.75;
        transform: scale(1);
      }
      50% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 0.75;
        transform: scale(1);
      }
    }
  }
}
