* {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: $font-primary;
}
.wrapper {
  padding-inline: 1rem;
  max-width: 61.25rem;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  perspective: 800px;
}
svg {
  overflow: visible;
}
foreignObject {
  overflow: visible;
  transform: translate(-50%, -50%);
}
a {
  color: inherit;
}
.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666;
    opacity: 0.3;
    z-index: 1;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
input {
  all: unset;
}
button {
  all: unset;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
