@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

$color-white: #fff;
$color-black: #000;

$color-gold: linear-gradient(to left top, #be9b42, #eebb37, #be9b42, #9c7617, #ba9228);

$color-gray-1: #eee;
$color-gray-2: #777;
$color-gray-3: #242424;

$color-error: #814946;

$color-primary: #7e6d2a;

$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Quicksand", sans-serif;
